.jumbotron {
    background-image: linear-gradient( to right,blue, red, yellow);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
    margin-top: 50px;
}

.mystic{
    background:linear-gradient(blue, black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.valor{
    background: linear-gradient(red,black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.instinct{
    background: linear-gradient(yellow, black);
    color: white;
    text-shadow: 2px 1px black;
    text-align: center;
}

.banner_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.card_img {
    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.ex-card{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    align-items: center;
}

.btn-ex{
    width: 100%;
}

.producto{
    color: white;
    background: linear-gradient(gray,black);
}

address { 
    display: block;
    font-style: italic;
  }

footer{

}